@tailwind base;
@tailwind components;
@tailwind utilities;

.js__home_container{
    background-image: url('/img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.js__animation{
    animation: blob 8s linear infinite;
}

@keyframes blob {
    0%, 100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
        }
        34% {
          border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
        }
        67% {
          border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        }
        
}

.neon:hover .js__shadow {
  transition-duration: 200ms;
  /* text-shadow: 0 0 40px #ffe600; */
  color: #fec544;
}

.neon:hover .js__shadow_2 {
  box-shadow: 0 0 50px 5px rgba(231, 228, 47, 0.863);
  transition-duration: 200ms;
  background: #fec544;
  border: #fec544;
}